In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

## Series

### Creating pandas series from list, array and dictionary

In [2]:
label = 'a b c'.split()
my_list = [1,2,3]

In [3]:
label

['a', 'b', 'c']

In [4]:
my_list

[1, 2, 3]

In [5]:
my_arr = np.array(my_list)

In [6]:
my_arr

array([1, 2, 3])

In [7]:
dic = {'a':10,'b':20,'c':30}

In [8]:
pd.Series(data=my_list)

0    1
1    2
2    3
dtype: int64

In [9]:
pd.Series(data=my_list,index=label)

a    1
b    2
c    3
dtype: int64

In [10]:
pd.Series(data=my_arr,index=label)

a    1
b    2
c    3
dtype: int32

In [11]:
pd.Series(data=dic)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=['a', 22, 'reg_no', 3.15])

0         a
1        22
2    reg_no
3      3.15
dtype: object

In [13]:
ser1 = pd.Series(data=[1,2,3,4], index='USA Germany USSR Japan'.split())

In [14]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
ser1['Germany']

2

In [16]:
ser2 = pd.Series(data=[10,20,30,40], index='USA Germany Italy Japan'.split())

In [17]:
ser2 + ser1

Germany    22.0
Italy       NaN
Japan      44.0
USA        11.0
USSR        NaN
dtype: float64

In [18]:
ser1.add(ser2)

Germany    22.0
Italy       NaN
Japan      44.0
USA        11.0
USSR        NaN
dtype: float64